* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(92, 92, 92);
}

a {
    all: unset;
}

a *, a {
    color: goldenrod;
}

a:hover, a:hover * {
    color: aqua;
}

h1, h2 {
    text-shadow: 5px 5px 5px lightgrey;
}

img {
    max-width: 50vw;
    display: block;
    margin: 0 auto;
}

form > div {
    padding: 0.5em;
    margin: 0.5em;
}

input {
    padding: 0.5em;
    border-radius: .5em;
    border: none;
    outline: 2px solid lightblue;
}

button {
    padding: .5em 2em;
    color: white;
    background-color: #23f2a0;
}

.registration > div {
    padding: 5px;
    margin: 5px;
    /*border: 1px solid black;*/
    display: flex;
    flex-direction: column;
}

.helptext {
    font-size: .7em;
    order: 2;
    color: #b75d97;
}

.helptext ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    color: inherit;
    order: 2;
}

li {
    color: inherit;
}

label{
    margin-bottom: 5px;
}

.errorlist {
    margin: .1rem 0;
    padding: .1rem 0;
    list-style-type: none;
    color: red;
    font-size: .7em;
    order: 1;
}