{% extends 'main.html' %}

{% block content %}
<h1>Single Vacancy</h1>
{% if vacancy %}
    <img src="{{ vacancy.featured_image.url }}" alt="Vacancy image">
<h2>{{ vacancy.title }}</h2>
<p>{{ vacancy.description }}</p>
{% if user.is_authenticated %}

    <a class="button" href="{% url 'updateVacancy' vacancy.id %}">Edit</a>
    <br>
    <a class="button" href="{% url 'deleteVacancy' vacancy.id %}">Delete</a>
{% endif %}
{% else %}
<p>404 - Not found</p>
{% endif %}
{% endblock content %}

{% block title %}Single Vacancy - {% endblock title %}